<%- include('../layouts/userHeadernull.ejs') %>

<div class="w-100 d-flex justify-content-center align-items-center ">
  <div><br><br>
    <div class="d-flex justify-content-center">
      <h4 class="mb-4">CHANGE PASSWORD</h4>
    </div>
  <form class="hallo " id="form" action="/changePassword" method="post">
    <div class="form-outline mb-4 text-center">
      <label class="form-label" for="form2Example1">Old password</label>
      <input name="oldPassword" type="password" id="form2Example1 oldPassword" class="form-control text-dark"/>
    </div>
  
    <div class="form-outline mb-4 text-center">
      <label class="form-label" for="form2Example1">New password</label>
      <input type="password" name="newPassword" id="form2Example1 newPasssword" class="form-control text-dark" />
      <small class="text-warning">Password must contain atleast {8-16 characters,A-Z,a-z,0-9,!@#$%^&*()}</small>
    </div>
  
    <div class="form-outline mb-4 text-center">
      <label class="form-label" for="form2Example2">Re-Enter Password</label>
      <input type="password" name="Repassword" id="form2Example2 Repassword" class="form-control text-dark" />
    
    
    <small class="error text-danger "></small>
  </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Reset Password</button>
    <div><br><a class="text-info" href="/userProfile">
      <<< Back</a>
</div>
<%if(message!=null){ %>
  <script>
      new Swal({
          title: "Success",
          text: "<%=message%>",
          icon: "success",
          showConfirmButton: false,
          timer: 2000
      });
  </script>
  <%}%>
    <%if(msg!=null){
      %>
      <script>
          new Swal({
          title: "Error!!",
          text: "<%=msg%>",
          icon: "error",
          showConfirmButton:false,
          timer:2000
        });
        </script>
      
    <%}%>
  </form>
  </div>
</div>


    <script>
    const form = document.getElementById('form');;
    const oldPassword = document.getElementById('form2Example1 oldPassword');
    const newPasssword = document.getElementById('form2Example1 newPasssword');
    const Repassword = document.getElementById('form2Example2 Repassword')
    const errorElement = document.querySelector('.error');

    form.addEventListener('submit', (e) => {
      let messages = [];
      if(oldPassword.value.trim().length === 0 && newPasssword.value.trim().length === 0 && Repassword.value.trim().length === 0){
        messages.push('Fill all the fields');
      }else if (oldPassword.value.trim().length === 0) {
        messages.push('Old password is required');
      }else if (newPasssword.value.trim().length === 0) {
        messages.push('Enter new password');
      }else if (Repassword.value.trim().length === 0) {
        messages.push('Re-enter your password');
      }else if(newPasssword.value!=Repassword.value){
        messages.push('Password does not match')
      }
  
      if (messages.length > 0) {
        e.preventDefault();
        errorElement.innerText = messages.join(', ');
      }
    });
  </script>
  


<%- include('../layouts/userFooternull.ejs') %>